@{
    ViewBag.Title = "UploadFile Test";
}

<h2>UploadFiled</h2>

@using (Html.BeginForm("UploadFile", "Images", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div>
        @Html.TextBox("file", "", new { type = "file" }) <br />

        <input type="submit" value="Upload" />

        @ViewBag.Message

    </div>

    @*<img src="~/Storage/images.jpg" alt="Sample Image" width="25%" style="align-content: center" />*@
    <img src="@Url.Content("/Storage/images.jpg")" />
    <img src="@Url.Content("/Storage/negative.jpg")" />
}
  
